.DS_Store
*.zip
*.tar.gz
tags
database.yml
*.log
**/*.swp

bower_components
node_modules
.sass-cache

www/all.css
www/all.js
www/vendor.js
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/assets/www
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/local.properties
platforms/android/local.properties
plugins
